# Python Language Basics, IPython, and Jupyter Notebooks

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

## The Python Interpreter

```python
$ python
Python 3.6.0 | packaged by conda-forge | (default, Jan 13 2017, 23:17:12)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> print(a)
5
```

```python
print('Hello world')
```

## IPython Basics

### Running the IPython Shell

In [2]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: -0.20470765948471295,
 1: 0.47894333805754824,
 2: -0.5194387150567381,
 3: -0.55573030434749,
 4: 1.9657805725027142,
 5: 1.3934058329729904,
 6: 0.09290787674371767}

### Tab Completion

### Running the Jupyter Notebook

```
In [1]: an_apple = 27

In [2]: an_example = 42

In [3]: an <TAB>
```

```
In [3]: b = [1, 2, 3]

In [4]: b. <TAB>
```

```
In [1]: import datetime

In [2]: datetime.
```

```
In [7]: datasets/movielens/
```

### Introspection

In [3]:
np.*load*?

### The %run Command

In [4]:
b = [1,2,3]

In [5]:
b?

In [6]:
print?

```
In [8]: b = [1, 2, 3]

In [9]: b?
Type:       list
String Form:[1, 2, 3]
Length:     3
Docstring:
list() -> new empty list
list(iterable) -> new list initialized from iterable's items

```

In [7]:
def add_numbers(a, b):
    return a+b

In [8]:
add_numbers?

```python
In [11]: add_numbers?
Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      <ipython-input-9-6a548a216e27>
Type:      function
```

In [9]:
add_numbers??

```python
In [12]: add_numbers??
Signature: add_numbers(a, b)
Source:
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b
File:      <ipython-input-9-6a548a216e27>
Type:      function
```

### Terminal Keyboard Shortcuts

### About Magic Commands
- Some frequently used IPython magic commands

In [10]:
a = np.random.randn(100, 100)

In [11]:
a

array([[ 0.2817,  0.769 ,  1.2464, ..., -0.4826, -0.0363,  1.0954],
       [ 0.9809, -0.5895,  1.5817, ..., -1.1686, -0.825 , -2.6444],
       [-0.153 , -0.7519, -0.1326, ...,  0.3801,  0.189 ,  1.3233],
       ...,
       [ 0.4957,  1.3689,  0.8255, ..., -1.1354,  0.3908,  0.2838],
       [ 0.3833, -0.4088,  1.1678, ..., -0.0521, -0.8841,  0.0395],
       [-0.4382, -0.9706, -0.2491, ..., -0.8745, -1.0609, -0.0977]])

In [12]:
#IPython’s special commands (which are not built into Python itself)
%timeit np.dot(a, a)

10.3 ms ± 7.11 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
%debug?

In [14]:
%pwd

'/Users/juck30808/Documents/pydata-book'

In [15]:
foo = %pwd
foo

'/Users/juck30808/Documents/pydata-book'

### Matplotlib Integration

In [16]:
%matplotlib

Using matplotlib backend: MacOSX

In [17]:
%matplotlib inline

```python
In [26]: %matplotlib inline
```

## Python Language Basics

### Language Semantics

#### Indentation, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

```python
a = 5; b = 6; c = 7
```

#### Everything is an object

#### Comments

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

#### Function and object method calls

```
result = f(x, y, z)
g()
```

```
obj.some_method(x, y, z)
```

```python
result = f(a, b, c, d=5, e='foo')
```

#### Variables and argument passing

In [18]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

```python
def append_element(some_list, element):
    some_list.append(element)
```

In [19]:
data = [1, 2, 3]

In [20]:
def append_element(some_list, element):
    some_list.append(element)

In [21]:
append_element(data, 4)

In [22]:
data

[1, 2, 3, 4]

#### Dynamic references, strong types

In [23]:
a = 'foo'
type(a)

str

In [24]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [25]:
a = 5
isinstance(a, int)

True

In [26]:
a = 5; b = 4.5
isinstance(a, (int, float))   # is one of then
isinstance(b, (int, float))

True

#### Attributes and methods

In [27]:
a = 'foo'

```python
In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [28]:
getattr(a, 'split')

#### Duck typing

In [29]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [30]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

False

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

#### Binary operators and comparisons

In [31]:
5 - 7
12 + 21.5
5 <= 2

False

In [32]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [33]:
a == c

True

In [34]:
a = None
a is None

True

Table 2-3. Binary operators
![image](https://i.stack.imgur.com/47OJp.jpg)

#### Mutable and immutable objects
- Python中的大多數對像都是可變的，例如列表，字典，NumPy數組和大多數用戶定義的類型（類）。 這意味著可以修改它們包含的對像或值：

In [35]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

- 其他字符串和元組是不可變的：

In [36]:
a_tuple = (3, 5, (4, 5))
#a_tuple[1] = 'four'

### Scalar Types

#### Numeric types

In [37]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [38]:
fval = 7.243
fval2 = 6.78e-5

In [39]:
3 / 2

1.5

In [40]:
3 // 2

1

#### Strings

a = 'one way of writing a string'
b = "another way"

In [41]:
c = """
This is a longer string that
spans multiple lines
"""

In [42]:
c.count('\n')

3

- Python strings are immutable; you cannot modify a string:

In [43]:
a = 'this is a string'
#a[10] = 'f'
a

'this is a string'

In [44]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [45]:
a = 5.6
s = str(a)
print(s)

5.6

In [46]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [47]:
s = 'python'
s[:3]   # from to 3

'pyt'

- 反斜杠字符\是轉義字符，表示用於指定特殊字符，例如換行符\ n或Unicode字符。 
- 要編寫帶有反斜杠的字符串文字，您需要對其進行轉義：

In [48]:
s = '12\\34'
print(s)

12\34

- 您可以在字符串的開頭加上r開頭，這意味著應該按原樣解釋字符：

In [49]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [50]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

- {0：.2f}表示將第一個參數格式化為帶兩位小數的浮點數。
- {1：s}表示將第二個參數格式化為字符串。
- {2：d}表示將第三個參數格式化為精確的整數。

In [51]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [52]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

#### Bytes and Unicode
- 在 Python 3 中，Unicode已成為一流的字符串類型，可以更一致地處理ASCII和非ASCII文本。 在較舊版本的Python中，字符串都是沒有任何顯式Unicode編碼的字節。

In [53]:
val = "español"
val

'español'

In [54]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

bytes

In [55]:
val_utf8.decode('utf-8')

'español'

In [56]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [57]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

'this is bytes'

#### Booleans

In [58]:
True and True
False or True

True

#### Type casting

In [59]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

#### None

In [60]:
a = None
a is None
b = 5
b is not None

True

def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

#### Dates and times

In [61]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [62]:
dt.date()

datetime.date(2011, 10, 29)

In [63]:
dt.time()

datetime.time(20, 30, 21)

In [64]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [65]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [66]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [67]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [68]:
type(delta)

datetime.timedelta

In [69]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

Table 2-5. Datetime format specification (ISO C89 compatible)
![image](https://michaeltoth.me/images/common_r_date_formats.png)

### Control Flow

#### if, elif, and else

In [70]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [71]:
4 > 3 > 2 > 1

True

#### for loops

for value in collection:
    # do something with value

sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [72]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

for a, b, c in iterator:
    # do something

#### while loops

x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [73]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary expressions

In [75]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'