## Non-Function

In [1]:
year = input('Enter year: ')
month = input('Enter month: ')
day=input('Enter day: ')
print(f'Entered Date: {day}/{month}/{year}')

Enter year: 12
Enter month: 03
Enter day: 12
Entered Date: 12/03/12

## NOW

In [2]:
from datetime import datetime
time_now = datetime.now()
time_now

datetime.datetime(2022, 1, 27, 0, 24, 31, 25949)

In [3]:
time_now.year, time_now.month, time_now.day, time_now.hour

(2022, 1, 27, 0)

## Add

In [4]:
time1 = datetime(2021, 9, 15)
time2 = datetime(2022, 10, 14)
time_dif = time2 - time1
time_dif

datetime.timedelta(days=394)

In [5]:
time_dif.days

394

In [6]:
from datetime import timedelta
time1 + timedelta(23)
time1 - timedelta(18)

datetime.datetime(2021, 8, 28, 0, 0)

## datetime.datetime

In [7]:
import datetime
x=datetime.datetime(2012, 6, 12)
print(x)

2012-06-12 00:00:00

In [8]:
from datetime import datetime
a= datetime(year=1993, month=5, day=10)
print(a)

1993-05-10 00:00:00

In [9]:
from datetime import date

d1 = date(2013,5,20)

print(d1)

print(type(d1))

2013-05-20
<class 'datetime.date'>

## datetime.date

In [10]:
import datetime
today = datetime.date.today()
print(today.weekday())

3

In [11]:
import datetime
date_string = '2020-12-04'
date_object = datetime.date.fromisoformat(date_string)
time_delta = datetime.timedelta(days=5)
print(date_object)

2020-12-04

In [12]:
new_year = datetime.date(2021,1,1)
days_remaining = new_year - today
print(days_remaining)

-391 days, 0:00:00

In [13]:
import datetime
date_time = datetime.datetime(2020,1,22,12,44,12,10000)
time_delta = datetime.timedelta(days=5)
print(date_time + time_delta)

2020-01-27 12:44:12.010000

In [14]:
#- Capture Today's Date
today = datetime.date.today()
print(today)

2022-01-27

In [15]:
#- Calculate how many days left until your birthday
birthday = datetime.date(2022,3,12)
days_remaining = birthday - today
print(days_remaining.days)

44

In [16]:
# - Create a new variable today_string = "2020-12-04"
today_string = "2020-12-04"
date_obj = datetime.date.fromisoformat(today_string)
print(date_obj)

2020-12-04

In [17]:
from datetime import date
mydate=date(year=1998, month=7, day=19)
print("Date is: ",mydate)

Date is:  1998-07-19

## time

In [18]:
from datetime import time
mytime=time(hour=12, minute=30, second=45)
mytime

datetime.time(12, 30, 45)

In [19]:
mytime=time(minute=15)
mytime

datetime.time(0, 15)

In [20]:
mytime=time(hour=12,minute=30,second=45)
mytime
#mytime.hour
#mytime.minute
#mytime.second

datetime.time(12, 30, 45)

## datetime.timedelta

In [21]:
from datetime import datetime, timedelta

todays_date=datetime.now()
dateafter_months=todays_date+timedelta(days=90)
dateafter_months

datetime.datetime(2022, 4, 27, 0, 24, 31, 106558)

In [22]:
datebefore_months=todays_date-timedelta(days=90)
datebefore_months

datetime.datetime(2021, 10, 29, 0, 24, 31, 106558)

In [23]:
print("total seconds in a month: ", timedelta(days=30).total_seconds())

total seconds in a month:  2592000.0

In [24]:
# - Find what day is in 20 days from today
from datetime import timedelta
time_delta = timedelta(days=20)
print(today + time_delta)

2022-02-16

In [25]:
# date.today()
# date.today().month
# date.datetime.now()

In [26]:
import time

def speed_test(fn):
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        print(f"{fn.__name__} metodu çalışıyor...")
        result = fn(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print(f"geçen süre: {run_time}")
        return result
    return wrapper

@speed_test
def sum_gen():
    return sum((x for x in range(10000000)))

@speed_test
def sum_list():
    return sum([x for x in range(10000000)])

print(sum_gen())
print(sum_list())

sum_gen metodu çalışıyor...
geçen süre: 0.39653754099992966
49999995000000
sum_list metodu çalışıyor...
geçen süre: 0.4748419579999563
49999995000000

## Example

In [27]:
from datetime import date

d1 = date(2013,5,20)
print(d1)
print(type(d1))

2013-05-20
<class 'datetime.date'>

In [28]:
print(d1)

print('Día :',d1.day)
print('Mes :',d1.month)
print('Año :',d1.year)

2013-05-20
Día : 20
Mes : 5
Año : 2013

In [29]:
d1 = date.today()
print(d1)

print('Día :',d1.day)
print('Mes :',d1.month)
print('Año :',d1.year)

2022-01-27
Día : 27
Mes : 1
Año : 2022

In [30]:
from datetime import time

t1 = time(15,20,13,40)

print(t1)
print(type(t1))

15:20:13.000040
<class 'datetime.time'>

In [31]:
print('Hora :',t1.hour)
print('Minuto :',t1.minute)
print('Segundo :',t1.second)
print('Microsegundo :',t1.microsecond)

Hora : 15
Minuto : 20
Segundo : 13
Microsegundo : 40

In [32]:
import datetime

d1 = datetime.datetime.now()
d1

datetime.datetime(2022, 1, 27, 0, 24, 32, 21874)

In [33]:
d1 = datetime.datetime(2020,4,23,11,20,30,40)

print(d1)
print('Día :',d1.day)
print('Mes :',d1.month)
print('Año :',d1.year)

print('-------------- \n Hora :',d1.hour)
print('Minuto :',d1.minute)
print('Segundo :',d1.second)
print('Microsegundo :',d1.microsecond)

2020-04-23 11:20:30.000040
Día : 23
Mes : 4
Año : 2020
--------------
 Hora : 11
Minuto : 20
Segundo : 30
Microsegundo : 40

In [34]:
print(d1)
print(d1.weekday())

2020-04-23 11:20:30.000040
3

In [35]:
d1 = datetime.datetime.now()
d1

datetime.datetime(2022, 1, 27, 0, 24, 32, 34810)

In [36]:
print(d1.weekday())

3

In [37]:
print(d1.isoweekday())

4

In [38]:
d1.isocalendar()

datetime.IsoCalendarDate(year=2022, week=4, weekday=4)

In [39]:
d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))

2020-04-23
<class 'datetime.date'>

In [40]:

d1_ISO = date(2020,4,23).isoformat()

print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'str'>

In [41]:
fecha = '22 April, 2020 13:20:13'

d1 = datetime.datetime.strptime(fecha,'%d %B, %Y %H:%M:%S')

print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

In [42]:
d1 = datetime.datetime.now()

print("Fecha de hoy :",d1)

Fecha de hoy : 2022-01-27 00:24:32.061601

In [43]:
d2 = d1 + datetime.timedelta(days=2)
print("Fecha: 2 días a partir de hoy :",d2)

Fecha: 2 días a partir de hoy : 2022-01-29 00:24:32.061601

In [44]:
d3 = d1 + datetime.timedelta(weeks=2)
print("Fecha: 2 semanas a partir de hoy :",d3)

Fecha: 2 semanas a partir de hoy : 2022-02-10 00:24:32.061601

In [45]:
d2 = d1 - datetime.timedelta(days=2)
print("Fecha: 2 días antes de hoy :",d2)

d3 = d1 - datetime.timedelta (weeks=2)
print("Fecha: 2 semanas antes de hoy :",d3)

Fecha: 2 días antes de hoy : 2022-01-25 00:24:32.061601
Fecha: 2 semanas antes de hoy : 2022-01-13 00:24:32.061601

In [46]:
from datetime import date

pazarlar = 0

for yil in range(1901,2001):
    for ay in range(1,13):
        if date(yil,ay,1).weekday() == 6:
            pazarlar += 1
print(pazarlar)

171