## Data Structures and Sequences : Set
- Python set operations

#### 集合 (Sets)
Python 也包含了一種用在集合 (sets) 的資料結構。一個 set 是一組無序且沒有重複的元素。基本的使用方式包括了成員測試和消除重複項。 Set 物件也支援聯集，交集，差集和互斥等數學操作。

- Sets is Collection of elements with different data type
- No dublicates elements inside the sets

In [112]:
empty_set = set() # why not {}?
set_from_list = set([1, 2, 1, 4, 3]) # => {1, 3, 4, 2}
basket = {'orange', 'banana', 'pear', 'apple'}
len(basket) # => 4
'orange' in basket # => True
'crabgrass' in basket # => False

for fruit in basket:
    print(fruit, end="-")

banana-pear-apple-orange-

In [19]:
numbers= {x for x in range(1,10)}
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [21]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
'orange' in basket

True

In [22]:
a = set('abc')
b = set('xyz')
print(a,b)

{'b', 'a', 'c'} {'x', 'z', 'y'}

#### 重複與有序容器 (list 和 tuple) : 是否可以有重複,排序影響

In [97]:
S={1,2,2,2,5}
print(S) #集合會自動去除重複的元素

{1, 2, 5}

In [23]:
Sett = {'Juan', True}
Sett.add('April')
Sett

{'April', 'Juan', True}

In [24]:
Sett.update({100,200,300,300})
Sett

{100, 200, 300, 'April', 'Juan', True}

In [25]:
Sett2 = Sett.copy()
print(f'{Sett == Sett2}')  #True
print(f'{Sett is Sett2}')  #False

True
False

In [26]:
Sett.union({'Uni1','Uni2','Uni3'})

{100, 200, 300, 'April', 'Juan', True, 'Uni1', 'Uni2', 'Uni3'}

In [27]:
Sett.difference({'diff1','diff2','diff3'})

{100, 200, 300, 'April', 'Juan', True}

In [28]:
Sett.issubset({'Uni1','Uni2','Uni3'})
Sett.isdisjoint({'Uni1','Uni2','Uni3'})

True

In [29]:
eve_list = [n for n in range(6) if n % 2 == 0]
eve_set  = {s for s in range(6) if s % 2 == 0}
eve_set

{0, 2, 4}

In [30]:
square_list = [n * n for n in range(6)]
square_set  = {n * n for n in range(6)}
square_set

{0, 1, 4, 9, 16, 25}

In [31]:
{n ** 2 for n in range(8)}

{0, 1, 4, 9, 16, 25, 36, 49}

In [48]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [49]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [50]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
a.intersection(b)
a & b

{3, 4, 5}

In [52]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [53]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [54]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [55]:
{1, 2, 3} == {3, 2, 1}

True

Table 3-1. Python set operations
![image](https://www.codeproject.com/KB/cpp/1223131/PythonSetOperators.png)

### List, Set, and Dict Comprehensions

result = [ ]
for val in collection:
    if

In [56]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [57]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [58]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [59]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [60]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [61]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [62]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [63]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]