## Data Structures and Sequences : Tuple
- tup[1].append(3) 
- Error

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [6]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [7]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [8]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [9]:
values = 1, 2, 3, 4, 5
a, b, *rest = values    # a=1, b=2, rest = *rest
a, b

(1, 2)

In [10]:
rest

[3, 4, 5]

#### Tuple methods

In [11]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4