In [1]:
A = [1,2,3,4,5]
list(map(lambda x: x**2, A))

[1, 4, 9, 16, 25]

In [2]:
B = ["Apple", "Book"]
list(map(lambda x: x.lower(), B))

['apple', 'book']

In [3]:
import pandas as pd
df = pd.DataFrame({"Name": ["Alice", "Bob", "Bob", "Bob", "Carol"],
                   "Score": [100, 95, 97, 97, 95]})
df["Score"].map(lambda x: "Perfect" if x == 100 else "Good")

0    Perfect
1       Good
2       Good
3       Good
4       Good
Name: Score, dtype: object

## Counter

In [5]:
from collections import Counter
A = ["Alice", "Bob", "Bob", "Bob", "Carol"]
Counter(A)

Counter({'Alice': 1, 'Bob': 3, 'Carol': 1})

In [6]:
from collections import Counter
A = ["Alice", "Bob", "Bob", "Bob", "Carol"]
count_A = Counter(A)
print("Bob:", count_A["Bob"])
print("Amy:", count_A["Amy"])

Bob: 3
Amy: 0

In [7]:
B = "Aaaaaa~"
Counter(B)

Counter({'A': 1, 'a': 5, '~': 1})

In [9]:
import pandas as pd
df = pd.read_csv("iris.csv")
df

     Sepal Length  Sepal Width  Petal Length  Petal Width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
count_class = Counter(df["class"])
count_class

Counter({'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50})

In [11]:
df2 = pd.DataFrame.from_dict(count_class,orient='index',columns=["Count"])
df2

                 Count
Iris-setosa         50
Iris-versicolor     50
Iris-virginica      50

In [12]:
df2 = pd.DataFrame({"class":count_class.keys(),
                    "count": count_class.values()})
df2

             class  count
0      Iris-setosa     50
1  Iris-versicolor     50
2   Iris-virginica     50

## Project

In [3]:
import numpy as np
import pandas as pd

data=pd.read_csv('input/employee.csv')
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
# lets define a function to divide the Daily Rate by 100
def function(x):
    return x/10

data['DailyRate'] = data['DailyRate'].map(function)
data['DailyRate']

0       110.2
1        27.9
2       137.3
3       139.2
4        59.1
        ...
1465     88.4
1466     61.3
1467     15.5
1468    102.3
1469     62.8
Name: DailyRate, Length: 1470, dtype: float64

In [6]:
data[['DailyRate','MonthlyRate']].apply(function)

      DailyRate  MonthlyRate
0         11.02       1947.9
1          2.79       2490.7
2         13.73        239.6
3         13.92       2315.9
4          5.91       1663.2
...         ...          ...
1465       8.84       1229.0
1466       6.13       2145.7
1467       1.55        517.4
1468      10.23       1324.3
1469       6.28       1022.8

[1470 rows x 2 columns]

In [8]:
data['MonthlyRate'] = data['MonthlyRate'].apply(lambda x: x/10)
print(data['MonthlyRate'])

0       194.79
1       249.07
2        23.96
3       231.59
4       166.32
         ...
1465    122.90
1466    214.57
1467     51.74
1468    132.43
1469    102.28
Name: MonthlyRate, Length: 1470, dtype: float64