## Lambda Functions 
匿名函數 (lambda): 您已經看到函數式編程如何讓您編寫可用於映射和減少數據的函數。 但是到目前為止，這並沒有讓您免於鍵入大量代碼。這是因為您必須聲明要使用的每個函數，即您必須使用以下語法：

In [ ]:
## def add(x, y):
    return x + y

In [2]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
total = map(lambda x, y: x + y, a, b)
list(total)

[7, 9, 11, 13, 15]

In [3]:
from functools import reduce

a = [1, 2, 3, 4, 5]

reduce(lambda x, y: x * y, a)

120

In [4]:
# 除了 def 版本將此函數對象分配給名為 name 的變量，
# 而 lambda 版本創建函數對象而不將其分配給變量。

# 為了理解我們上面的例子，它需要兩個參數，x 和 y：

#   ↓  ↓
# λ x, y: x + y
# 並返回表達式 x + y 的結果。

# 每當想將簡單的單行表達式作為參數傳遞時都可以使用 lambda

In [5]:
from functools import reduce
a = [1, 2, 3, 4, 5]
reduce(lambda x, y: x * y, a)

120

In [6]:
squares = map(lambda x: x * x, a)
list(squares)

[1, 4, 9, 16, 25]

In [7]:
A = [1,2,3,4,5]
list(map(lambda x: x**2, A))

[1, 4, 9, 16, 25]

In [8]:
B = ["Apple", "Book"]
list(map(lambda x: x.lower(), B))

['apple', 'book']

In [9]:
import pandas as pd
df = pd.DataFrame({"Name": ["Alice", "Bob", "Bob", "Bob", "Carol"],
                   "Score": [100, 95, 97, 97, 95]})
df["Score"].map(lambda x: "Perfect" if x == 100 else "Good")

0    Perfect
1       Good
2       Good
3       Good
4       Good
Name: Score, dtype: object

In [10]:
mi_funcion_lambda = lambda a, b: a + b

resultado = mi_funcion_lambda(4,6)
print(f'Resultado sumar con función lambda: {resultado}')

# Función lambda que no recibe argumentos (debemos regresar una expresión válida)
mi_funcion_lambda = lambda: 'Función sin argumentos'
print(f'Llamar función lambda sin argumentos: {mi_funcion_lambda()}')

# Función lambda con parámetros por default
mi_funcion_lambda = lambda a=2, b=3: a + b
print(f'Resultado argumentos por default: {mi_funcion_lambda()}')

# Función lambda con argumentos variables *args y **kwargs
mi_funcion_lambda = lambda *args, **kwargs: len(args) + len(kwargs)
print(f'Resultado argumentos variables: {mi_funcion_lambda(1,2,3, a=5,b=6)}')

# Funciones lambda con argumentos, argumentos variables y valores por default
mi_funcion_lambda = lambda a, b, c=3, *args, **kwargs: a+b+c+len(args)+len(kwargs)
print(f'Resultado función lambda: {mi_funcion_lambda(1,2,4, 5,6,7,e=5,f=7)}')

Resultado sumar con función lambda: 10
Llamar función lambda sin argumentos: Función sin argumentos
Resultado argumentos por default: 5
Resultado argumentos variables: 5
Resultado función lambda: 12

In [11]:
# Funciones lambda
# Son funciones anónimas, y son pequeñas (una línea de código)

# No es posible asignar una función a una variable
# mi_funcion = def sumar(a, b): return a + b

# Con una función lambda(anónima, sin nombre, y una sola línea de código)
# No se necesita agregar paréntesis para los parámetros
# No se necesita usar la palabra return, pero sí debe regresar una expresión
mi_funcion_lambda = lambda a, b: a + b

resultado = mi_funcion_lambda(4,6)
print(f'Resultado sumar con función lambda: {resultado}')

# Función lambda que no recibe argumentos (debemos regresar una expresión válida)
mi_funcion_lambda = lambda: 'Función sin argumentos'
print(f'Llamar función lambda sin argumentos: {mi_funcion_lambda()}')

# Función lambda con parámetros por default
mi_funcion_lambda = lambda a=2, b=3: a + b
print(f'Resultado argumentos por default: {mi_funcion_lambda()}')

# Función lambda con argumentos variables *args y **kwargs
mi_funcion_lambda = lambda *args, **kwargs: len(args) + len(kwargs)
print(f'Resultado argumentos variables: {mi_funcion_lambda(1,2,3, a=5,b=6)}')

# Funciones lambda con argumentos, argumentos variables y valores por default
mi_funcion_lambda = lambda a, b, c=3, *args, **kwargs: a+b+c+len(args)+len(kwargs)
print(f'Resultado función lambda: {mi_funcion_lambda(1,2,4, 5,6,7,e=5,f=7)}')

Resultado sumar con función lambda: 10
Llamar función lambda sin argumentos: Función sin argumentos
Resultado argumentos por default: 5
Resultado argumentos variables: 5
Resultado función lambda: 12

## Binding Arguments
除了使用 lambda 創建函數作為參數外，您還可以使用 lambda 更快地創建簡單函數：

In [12]:
square = lambda x: x * x
square(5)

25

In [13]:
def add(x, y):
    """Return the sum of the two arguments"""
    return x + y

plus_five = lambda x: add(x, 5)
plus_five(7)

12

In [14]:
def plus_five(x):
    return add(x, 5)

plus_five(7)

12

In [15]:
def multiply(x, y):
    """Return the product of the two arguments"""
    return x * y

a = [1, 2, 3, 4, 5]
double_a = map(lambda x: multiply(x, 2), a)
list(double_a)

[2, 4, 6, 8, 10]

## Addition

In [16]:
#Lambda

def xyz(a,b,c):
    return a*a+2*b/c

print(xyz(3,4,8))

10.0

In [17]:
xyz = lambda a,b,c : a*a+2*b/c
print(xyz(3,4,8))

10.0

In [18]:
z = lambda a : a + 2
print(z(2))

4

In [19]:
y = lambda a,b : a * b
print(y(2,3))

6

In [20]:
x = lambda a,b,c : a-b-c
print(x(5,2,2))

1

In [21]:
n = lambda a,b : a % b
print(n(5,2))

1

In [22]:
x= lambda a: a*a
print(x(5))

25

In [23]:
y= lambda a,b: a+b
y(10,30)

40

## Filter

In [24]:
#Filter Functions


l = [4,7,8,5,3,4,1,2]

def xyz(n):
    if n%2 == 0:
        return True
    else:
        return False
result = filter(xyz,l)
print(list(result))

[4, 8, 4, 2]

In [25]:
my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x:(x%2==0), my_list))
print(new_list)

[4, 6, 8, 12]

In [26]:
score =[76,23,54,12,65,43]
def score_check(s):
    if s>50:
        return True
    else:
        return False

In [27]:
students_passed=filter(score_check, score)
for i in students_passed:
    print(i)

76
54
65

## Zip

In [28]:
student_names = ['Rohan', 'Amita', 'Shushant', 'Pawan', 'Kiran']
student_marks = [67,34,78,85,65]
zipped_list = zip(student_names, student_marks)
zipped_list = list(zipped_list)
zipped_list

[('Rohan', 67), ('Amita', 34), ('Shushant', 78), ('Pawan', 85), ('Kiran', 65)]

In [29]:
student_names, student_marks = zip( *zipped_list)
print('names = ',list(student_names))
print('marks = ',list(student_marks))

names =  ['Rohan', 'Amita', 'Shushant', 'Pawan', 'Kiran']
marks =  [67, 34, 78, 85, 65]

## Recyrsivas

In [30]:
# 5! = 5 * 4 * 3 * 2 * 1
# 5! = 5 * 4 * 3 * 2
# 5! = 5 * 4 * 6
# 5! = 5 * 24
# 5! = 120
def factorial(numero):
    if numero == 1:
        return 1
    else:
        return numero * factorial(numero-1)

numero = 5
resultado = factorial(numero)
print(f'El factorial de {numero} es {resultado}')

El factorial de 5 es 120

In [31]:
# sonuc = (lambda a: a ** 2)(3)
multiply = lambda a: a ** 2
sonuc = multiply(5)

toplama = lambda a,b,c: a+b+c
sonuc = toplama(1,4,7)

tersCevir = lambda s: s[::-1]
sonuc = tersCevir("Sadık")

def myFunc(n):
    return lambda a: a * n

multiply2 = myFunc(2)
multiply3 = myFunc(3)

sonuc = multiply2(10)
sonuc = multiply2(20)
sonuc = multiply3(10)


print(sonuc)

30

In [32]:
a=lambda b:b+1
print("sum of",a(50))

sum of 51

In [33]:
# add 20 to a number x
a = lambda x: x + 20
print(a(10))

30

In [34]:
# lambda args
# store_lambda = lambda x, y : x * y
# print(store_lambda(10, 11))

# sum of args
store_args = lambda x, y, z : x + y + z
print(store_args(7, 8, 9))

24

### Exmaple

In [35]:
def discount(value):
    return value-(value*0.30)
discount(10)

7.0

In [36]:
discount = lambda value:value-(value*0.30)
discount(100)

70.0

In [37]:
numbers = [10,23,40,57,60,100]
list(map(lambda value:value-(value*0.30), numbers))

[7.0, 16.1, 28.0, 39.900000000000006, 42.0, 70.0]

In [38]:
def even_numbers(number):
    return number%2==0

In [39]:
for x in filter(lambda number:number%2==0, numbers):
    print (x)

10
40
60
100

In [40]:
list(filter(lambda number:number%2==0, numbers))

[10, 40, 60, 100]

In [41]:
multi = lambda x:x*2
print(multi(10))

add = lambda x,y:x+y
print(add(2,55))

def add(a,b):
    return a+b
print(add(5,6))

oddeven = lambda num: True if num%2 == 0 else False
print(oddeven(55))

20
57
11
False

In [42]:
# Creation lambda oject
lambda x: x**2

# Create a list to apply a lambda function
lis = [1,2,3]

# Use map function to apply lambda function to a list
generator = map(lambda x: x**2,lis)
generator

In [43]:
# Map the list
list(generator)

[1, 4, 9]

In [44]:
# Create a function wich verify if the number is odd or not
def f(num):
    return num%2==0

# Filter take only the values wich return True 
list(filter(f, lis))

[2]

## lambda - Function Application and Mapping

In [24]:
# pd.DataFrame.apply?
# pd.DataFrame.applymap?

In [25]:
import pandas as pd
import numpy as np
df8 = pd.DataFrame(np.random.randn(4, 3),  
                  columns=list('bde'), index=['One', 'Two', 'Three', 'Four'])
df8

              b         d         e
One    1.909629  1.662833 -1.554754
Two    1.030018  1.810934  0.954190
Three -0.727966  1.818814 -1.057969
Four  -0.172923  0.064562  1.767658

In [26]:
abs(df8)

              b         d         e
One    1.909629  1.662833  1.554754
Two    1.030018  1.810934  0.954190
Three  0.727966  1.818814  1.057969
Four   0.172923  0.064562  1.767658

In [27]:
f = lambda x: x.max()
#f = lambda x: x.min()
#f = lambda x: x.max() - x.min()
df8.apply(f)

b    1.909629
d    1.818814
e    1.767658
dtype: float64

In [28]:
f = lambda x: x.max()
#f = lambda x: x.max() - x.min()
df8.apply(f, axis='columns')
df8.apply(f, axis='columns')

One      1.909629
Two      1.810934
Three    1.818814
Four     1.767658
dtype: float64

In [29]:
def f(x):  return pd.Series([x.max(), x.min(), x.mean()], index=['max', 'min', 'mean'])
df8.apply(f)

             b         d         e
max   1.909629  1.818814  1.767658
min  -0.727966  0.064562 -1.554754
mean  0.509689  1.339286  0.027281

In [30]:
f = lambda x: '%.3f' %x
df8.applymap(f)

            b      d       e
One     1.910  1.663  -1.555
Two     1.030  1.811   0.954
Three  -0.728  1.819  -1.058
Four   -0.173  0.065   1.768