# Installing MySQL Connector

In [ ]:
# !python -m pip install mysql-connector-python

In [ ]:
# !pip install mysql-connector-python

In [1]:
import getpass
inhost = getpass.getpass('hostname：')
inuser = getpass.getpass('user：')
inpwd = getpass.getpass('password：')

hostname：········
user：········
password：········

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host = inhost,
    user = inuser,
    password = inpwd
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E6C52D9310>

# Creating A Database

In [ ]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host = inhost,
        user = inuser,
        password = inpwd
    )
    cursor = mydb.cursor()
    cursor.execute("CREATE DATABASE Jerry")
    
except:
    print("Error, CREATE DATABASE")
mydb.close()

In [ ]:
#Check DB exists
import mysql.connector

mydb = mysql.connector.connect(
    host = inhost,
    user = inuser,
    password = inpwd
)

cursor = mydb.cursor()
cursor.execute("SHOW DATABASES")
mydb.close()

for n in cursor:
    print(n)

# Creating Tables and Showing Data

In [ ]:
import mysql.connector
query= "CREATE TABLE Jerry.orders (id INTEGER, sales_id INTEGER, sale_date TEXT, price REAL);"
query2 = "CREATE TABLE Jerry.sales (id INTEGER, names TEXT,city TEXT);"

# Connect to DB  #Hightway
mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd
)

# execute # The Product that Truck bring
cursor = mydb.cursor()
cursor.execute(query)
mydb.commit() 

cursor.execute(query2)
mydb.commit() 
print("Success Creating *orders and *sales Table")
    
mydb.close()

In [ ]:
# Check Table exists
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd
    database = "Jerry"
)

cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
mydb.close()

for x in cursor:
    print(x)

# Add PRIMARY KEY when creating table

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
cursor.execute("CREATE TABLE students (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")
mydb.close()

# Add PRIMARY KEY if table already exists

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
#cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")
mydb.close()

# Inserting data into tables

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = ("Ronaldo", "CODE12")

cursor.execute(new_sql, new_vals)
mydb.commit()
mydb.close()

print(cursor.rowcount, "new record inserted")

1 new record inserted

# Inserting many records into tables

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = [("Jerry", "CODE30"),
            ("Alan", "CODE06"),
            ("SH", "CODE11"),
            ("Peter", "CODE110")]

cursor.executemany(new_sql, new_vals)
mydb.commit()
mydb.close()

print(cursor.rowcount, "records inserted")

4 records inserted

# Select Table's data

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
cursor.execute("SELECT * FROM students")
new_data = cursor.fetchall()
mydb.close()

for x in new_data:
    print(x)

(1, 'Ronaldo', 'CODE12')
(3, 'Pogba', 'CODE06')
(4, 'SALAH', 'CODE11')
(5, 'Someone', 'CODE110')
(7, 'Pogba', 'CODE06')
(8, 'SALAH', 'CODE11')
(9, 'Someone', 'CODE110')

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
cursor.execute("SELECT * FROM students")
result = cursor.fetchall()
mydb.close()

print("Success Database",type(result),cursor.rowcount)


import pandas as pd
resultdf = pd.DataFrame(result)
resultdf.head()

Success Database <class 'list'> 7

   0        1        2
0  1  Ronaldo   CODE12
1  3    Pogba   CODE06
2  4    SALAH   CODE11
3  5  Someone  CODE110
4  7    Pogba   CODE06

# Select data from columns

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
cursor.execute("SELECT name FROM students")
new_data = cursor.fetchall()
mydb.close()

for x in new_data:
    print(x)

('Ronaldo',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
cursor.execute("SELECT * FROM students")
new_data = cursor.fetchone()
mydb.close()

print(new_data)

(1, 'Ronaldo', 'CODE12')

# Filter the result

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "SELECT * FROM students WHERE code = 'CODE06'"
cursor.execute(new_sql)
new_data = cursor.fetchall()
mydb.close()

for x in new_data:
    print(x)

(3, 'Pogba', 'CODE06')
(7, 'Pogba', 'CODE06')

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "SELECT * FROM students WHERE name LIKE '%Pogba%'"
cursor.execute(new_sql)
new_data = cursor.fetchall()
mydb.close()

for x in new_data:
    print(x)

(3, 'Pogba', 'CODE06')
(7, 'Pogba', 'CODE06')

# Sorting results

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "SELECT * FROM students ORDER BY code DESC"
cursor.execute(new_sql)
new_data = cursor.fetchall()
mydb.close()

for x in new_data:
    print(x)

(2, 'Messi', 'CODE30')
(6, 'Messi', 'CODE30')
(1, 'Ronaldo', 'CODE12')
(5, 'Someone', 'CODE110')
(9, 'Someone', 'CODE110')
(4, 'SALAH', 'CODE11')
(8, 'SALAH', 'CODE11')
(3, 'Pogba', 'CODE06')
(7, 'Pogba', 'CODE06')

# Deleting records

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "DELETE FROM students WHERE name = %s"
name = ("Jerry",)
cursor.execute(new_sql, name)
mydb.commit()
mydb.close()

print(cursor.rowcount, "records deleted from students from newdata")
print("執行 Success 通常資料庫會設定為安全模式，可能刪除失敗,Code: 1175. You are using safe update mode and you tried to update a table without a WHERE that uses a KEY column To disable safe mode, toggle the option in Preferences -> SQL Editor and reconnect.")

2 records deleted from students from newdata

# Deleting table

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "DROP TABLE IF EXISTS clients"
cursor.execute(new_sql)
mydb.close()

# Updating table

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "UPDATE students SET code = %s WHERE code = %s"
new_vals = ("CODE12", "CODE07")
cursor.execute(new_sql, new_vals)
mydb.commit()
mydb.close()

print(cursor.rowcount, "records changed in students table!")

0 records changed in students table!

In [ ]:
import mysql.connector
query="UPDATE Jerry.orders SET price = 41.1, sales_id = 2 where id = 23;"

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd
)

cursor = mydb.cursor() ## cursor
cursor.execute(query)  ## 執行SQL命令 
mydb.commit()          ## 上傳指令，必須執行這行指令 SQL 資料庫才會進行更新
print("執行 Success 通常資料庫會設定為安全模式，可能更改失敗,Code: 1175. You are using safe update mode and you tried to update a table without a WHERE that uses a KEY column To disable safe mode, toggle the option in Preferences -> SQL Editor and reconnect.")
mydb.close()

# Limit the records

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
    host=inhost,
    user=inuser,
    password=inpwd,
    database = "Jerry"
)

cursor = mydb.cursor()
new_sql = "SELECT * FROM students LIMIT 4 OFFSET 5"
cursor.execute(new_sql)
new_data = cursor.fetchall()
mydb.close()

for x in new_data:
    print(x)

(8, 'SALAH', 'CODE11')
(9, 'Someone', 'CODE110')