In [2]:
import sqlite3
new_connection = sqlite3.connect("data_testing.db")

In [3]:
type(new_connection)

sqlite3.Connection

In [4]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [5]:
new_cursor = new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

In [6]:
new_sql = "SELECT datetime('now', 'localtime');"

In [7]:
new_cursor.execute(new_sql)

In [8]:
new_cursor.fetchone()

('2021-10-25 17:21:31',)

In [9]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [10]:
print(new_dtime)

2021-10-25 17:22:31

In [11]:
new_connection.close()

In [14]:
with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_sql = "SELECT datetime('now', 'localtime');"
    new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [15]:
print(new_dtime)

2021-10-25 17:26:08

# Create table with values

In [19]:
import sqlite3

new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")

new_cursor.execute("INSERT INTO clients VALUES('Dany', 2030)")

new_connection.commit()
new_connection.close()

In [20]:
new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("SELECT * FROM clients;")

In [21]:
new_cursor.fetchone()

('Dany', 2030)

In [22]:
new_cursor.execute("DROP TABLE clients;")

In [23]:
new_connection.commit()
new_connection.close()

# Full Program to fetch all data from data_testing

In [5]:
import sqlite3

new_values = (
    ("Ronaldo", 7),
    ("Messi", 30),
    ("Salah", 11),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")
    
    new_cursor.executemany("INSERT INTO clients VALUES(?, ?)", new_values)
    
    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number > 7;")
    
    for x in new_cursor.fetchall():
        print(x)

('Messi', 30)
('Salah', 11)

# SQLite

In [2]:
import sqlite3

query="select * from Jerry.orders where sales_id = 1 and price > 20 order by sale_date DESC;"

try:
    # Connect to DB  #Hightway
    conn = sqlite3.connect("database.db")
    
    # Cursor # Send a Truck
    cursor=conn.cursor()
    
    # execute # The Product that Truck bring
    cursor.execute(query)
    result = cursor.fetchall()
    mydb.close()

except sqlite3.Error as error:
    print("Error in creating Database")
    conn.rollback()
    
finally:
    if(conn):
        conn.close()
        print("Sqlite connection is closed")

cursor.close()

In [ ]:
query="DELETE FROM STD WHERE name='BOB';"

cursor=conn.cursor()
cursor.execute(query)
conn.commit()
conn.close()

In [ ]:
query="INSERT into STD(name,age,dept)values ('bob',20,'CS');"

cursor=conn.cursor()
cursor.execute(query)
conn.commit()
conn.close()

In [ ]:
query="SELECT * FROM STD LIMIT 2;"

cursor=conn.cursor()
cursor.execute(query)
fetch=cursor.fetchall()
print(fetch,"Record is ")
conn.commit()
conn.close()

In [ ]:
query="UPDATE STD SET age=25 WHERE name='bob';"

cursor=conn.cursor()
cursor.execute(query)
conn.commit()
conn.close()